# OS + IDE
.DS_Store
.project

# Testing Logs
test-harness/logs/*.log
test-harness/logs
test-harness/test/logs
test-harness/test/specs/integration/logs
testing/cases/logging/tmp
testing/resources/logs/*.log
tests/results/**
tests/automation/results
tests/automation/results-*
tests/logs
tests/suites/loadtests/settings.xml
logs/*

# Build artifacts
artifacts/*
.artifacts/*
.tmp/*
apidocs/*-APIDocs
build/build.number
build-coldbox

# Dependencies
.engine/**
testbox/*
apidocs/testbox
apidocs/docbox
system/async/cbproxies
tests/suites/loadtests/logs
test-harness/**/route-visualizer
system/exceptions/node_modules/**

# Custom Settings
test-harness/config/runtime.properties.cfm
.env
/settings.xml
/.settings/
