# OS + IDE
.DS_Store
/settings.xml
.project
.settings/
.vscode

# Testing Logs
test-harness/logs/*.log
test-harness/logs
test-harness/test/logs
test-harness/test/specs/integration/logs
testing/cases/logging/tmp
testing/resources/logs/*.log
tests/automation/results
tests/automation/results-*
tests/logs
tests/suites/loadtests/settings.xml

# Build artifacts
build-coldbox
build/build.number
artifacts/*

# Dependencies
testbox/*
apidocs/docbox/*
ApplicationTemplates/*
tests/suites/loadtests/logs
test-harness/modules_app/route-visualizer

# Custom Settings
test-harness/config/runtime.properties.cfm
