.DS_Store
testharness/logs/*
testing/resources/logs/*.log
/settings.xml
.project
test-harness/logs/*.log
test-harness/logs
test-harness/test/logs
test-harness/test/specs/integration/logs
testing/cases/logging/tmp
tests/automation/results
tests/automation/results-*
tests/logs
build-coldbox
build/build.number