<?xml version="1.0" encoding="UTF-8" ?><ResourceDetails><ServerName>cf9cboxdev.jfetmac</ServerName><LauncherName></LauncherName><ExternalBrowser></ExternalBrowser><UseStartPage>false</UseStartPage><StartPage useextension="false" ></StartPage><Mappings><Mapping-Name>mxunit</Mapping-Name><Location>C:\Users\lmajano\Sites\MyDevelopment\Frameworks\mxunit</Location><ResolveCFC>true</ResolveCFC></Mappings><VariableMappings></VariableMappings></ResourceDetails>