	body {
		margin:0;
		padding:0px;
		font-family:Arial, Helvetica, sans-serif;
		font-size:11px;
		}
	
	#leftcontent {
		position: absolute;
		left:5px;
		top:105px;
		width:190px;
		background:#fff;
		}

	#centercontent {
		background:#f3f3f3;
   		margin-left: 199px;
   		margin-right:199px;
		border:2px outset #dddddd;
		padding:10px;
		}
		
	#rightcontent {
		position: absolute;
		right:5px;
		top:105px;
		width:190px;
		background:#fff;
		}
	
	#banner {
		background:#F5F5F5;
		height:85px;
		border-bottom:1px solid #dddddd;
		margin-bottom:20px;
	}
	
	#banner h1 {
		font-size:16px;
		padding:10px 10px 0px 10px;
		margin:0px;
	}
	
	#bottombanner {
		background:#F5F5F5;
		height:85px;
		border-top:1px solid #dddddd;
		margin-top:20px;
	}
	
	#statusbar{
		background:url(../images/statusbar_bg.png) repeat-x;
		height: 25px;
		border-top:1px solid #AAAAAA;
		border-bottom:1px solid #dddddd;
		margin-top: 5px;
		font-size:9px;
	}

			
	p,h1,pre {
		margin:0px 10px 10px 10px;
	}
		
	h1 {
		font-size:16px;
		padding-top:10px;
	}
	
	#rightcontent1, #rightcontent2,
	#leftcontent1 {
		margin:10px;
	}
		
	#divLogin {
		margin:20px;
	}	
	
	a:link,a:visited {
		color:#003399;
		text-decoration:none;
	}
	a:hover {
		color:#000000;
		background-color: #fffff0;
		text-decoration:underline;
	}

	/**** this is for the tag cloud ***/
	
	.smallestTag { font-size: x-small; }
	.smallTag { font-size: small; }
	.mediumTag { font-size: medium; }
	.largeTag { font-size: large; }
	.largestTag { font-size: x-large; }

	/* FORM ELEMENTS */
	input[type=button], input[type=submit], input[type=reset] {
	 background: #eee;
	 color: #222;
	 border: 1px outset #ccc;
	 padding: .1em .5em;
	 font-size: 11px;
	}
	input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
	 background: #FFFFF0;
	 border: 1px inset #ccc;
	 cursor: hand;
	}
	input[type=button][disabled], input[type=submit][disabled],
	input[type=reset][disabled] {
	 background: #f6f6f6;
	 border-style: solid;
	 color: #999;
	}
	
	input[type=text], input[type=password], input[type=checkbox], textarea { border: 1px solid #d7d7d7; font-size:11px }
	input[type=text], input[type=password], input[type=checkbox] { padding: .20em .3em }
	input[type=text]:focus, textarea:focus, input[type=checkbox]:focus, input[type=password]:focus {
	 border: 1px solid #886;
	}
	
	/* TOP BUTTONS */
	#topbuttons{
		float:left;
		margin-right:30px;
		margin-top:5px
	}
	#topbuttons a:hover {
		color: #000000;
		background-color: #f5f5f5;
	}

