body {
	font-family:verdana;
	font-size:smaller;
	padding:0px;
	margin:0px;
}

.content {
	padding:20px 15px 0px;
}

.contentInner {
	width:700px;
	margin:80px auto 0px;
}

.footer {
	width:100%;
	text-align:center;
	padding-top:50px;
}

a {
        color:#0000EE;    
}

a:visited, a:hover, a:focus {
        color:#3377FF;
}

#loginForm {
	width:400px;
	margin:0px auto;
}

#welcomePageContainer {
	text-align:center;
}