/* 
Author 	 :	Ernst van der Linden (evdlinden@gmail.com)
Date     :	7/31/2008
Description : Default stylesheet of the SideBar. 
		
Modification History:
*/
#ColdBoxSideBar table{
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;	
	font-size: 10px !important;
}
 #ColdBoxSideBar h1 {
	font-size: 11px;
	color: #CC0001;
	margin:0;
	text-transform: uppercase;
}

#ColdBoxSideBar td {
	background-color: #fff;
	border-top: 1px solid #EBEBEB;
	border-right: 2px solid #EBEBEB;
	padding: 4px;
	padding-left:7px;
}

#ColdBoxSideBar td.top {
	border-top: 2px solid #EBEBEB;
}
#ColdBoxSideBar td.bottom {
	border-bottom: 2px solid #EBEBEB;
}

#ColdBoxSideBar td.bar {
	padding: 0;
	border: 0;
	background-color: transparent;
	width:20px;
}

#ColdBoxSideBar select {
	font-size: 11px;
}

#ColdBoxSideBar input {
	font-size: 11px;
}

#ColdBoxSideBar .checkboxlabel {
	font-weight:bold;
	color: #0087dd;
	display:inline;
	padding-left:3px;
}
#ColdBoxSideBar .inputlabel {
	font-weight:bold;
	color: #0087dd;
	display:block;
	margin-bottom:3px;
}
#ColdBoxSideBar a {
	cursor: pointer;
	font-weight:bold;
	color: #0087dd;
	text-decoration: none;
}
#ColdBoxSideBar a:hover {
	text-decoration: underline;
}