body,table {
	font-family: Arial,Helvetica,sans-serif;
	margin: 0px 0px 0px 0px;
	font-size: 12px;
	color: #000;
}
div#menu {
	padding:3px;
	background-color:#B0FF00;
}
div#menu li {
	list-style: none;
	display: inline;
	padding: 0 5px 0 0;		
}
div#menu a {
	color: #000;	
	font-size: 14px;
	font-weight:bold;
	text-decoration: none;  
}
div#content{
	padding:30px;
}
.button {
	width:75px;
}
th {
	text-align:left;
}
a {
	color: #000;	
}

a:hover {
	color: red;	
}

