table.edit tr.even {
	background-color: #EBFFBF;
}

table.edit tr.odd {
	background-color: #D8FF80;
}

/*************** Form Items ***************/

form {
	margin: 0px;
}

/* input.button is in page because of href */

input.text {
	width: 355px;
}

textarea {
	width: 355px;
}

select {
	width: 360px;
}

select.small {
	width: 150px;
}

input.text_readonly {
	margin-left:5px;
	border: 1px;
	padding: 2px;
	width: 353px;
}

.edit div.buttonbar {
	width:780px;
	display:block;
	padding:10px;
}

/*************** Add / Edit item ***************/
table.edit {
	width: 780px;
	border-spacing: 1px;
	background-color: #fff;
}

.edit td.desc {
	width: 50%;
	padding: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-weight: bold;
	height: 30px;
}

.edit td.value {
	width: 50%;
	padding: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	height: 30px;
}

.edit td.buttonBar {
	text-align:right;
	height: 30px;
}