.list tr.odd {
	background-color: #EBFFBF;	
}

.list tr.even {
	background-color: #D8FF80;
}
table.list {
	width: 780px;
	margin: 0px;
	margin-top: 0px;
	margin-bottom: 1px;
	padding: 0px;
	border-spacing: 1px;
	background-color: #fff;
}

.list th {
	text-align: left;
	height: 20px;
	padding-left: 5px;
	margin: 0px;
	background-color: #7BB300;
	font-size: 13px;
	color: #fff;
}

.list th.action {
	width:100px;		
}

.list tr {
	height: 20px;
	cursor: pointer;
}

.list td {
	padding: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
}

.list td.desc {
	padding: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-weight: bold;
}

.list tr.hover {
	background-color: #B0FF00;
}

/*************** OTHER ***************/
a.action,visited,active {
	font-size: 12px;
	color: #000000;
}

a.action:hover {
}
