table.view tr.even {
	background-color: #EBFFBF;
}

table.view tr.odd {
	background-color: #D8FF80;
}

table.view {
	width: 780px;
	border-spacing: 1px;
	background-color: #fff;
}

.view td.desc {
	width: 50%;
	padding: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-weight: bold;
	height: 30px;
}

.view td.value {
	width: 50%;
	padding: 5px;
	padding-top: 1px;
	padding-bottom: 1px;
	height: 30px;
}

.view td.buttonBar {
	text-align:right;
	height: 30px;
}