<web-app xmlns="http://caucho.com/ns/resin">

<rewrite-dispatch>
  <dispatch regexp="\.(jsp|cfm|cfc|php|gif|css|jpg|png|txt|ico|js|doc|pdf|xls|swf|mov|avi|mpg|mp3|mpeg)"/>
  <dispatch regexp="^/resin-admin/"/>
  <dispatch regexp="^/resin-doc/"/>
  <dispatch regexp="^/railo-admin/"/>
  <forward regexp="^(.*)$" target="/index.cfm$1"/>
</rewrite-dispatch>

</web-app>
