#header {
	font-size: 30px;
	font-family: Arial;
}




#menu {
	float:left;
	margin:40px 0 0 10px;
	font-family: Arial;
	background-color: #e0e0e0;
	border: 1px solid #999;
	width:200px;
}

#content {
	margin: 50px;
	font-family: Arial;
	margin: 20px 0 0 230px;
}

#menu ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;	
}

#menu a {
	color: black;
	text-decoration: none;
	display: block;
	width: 190px;
	padding: 5px;
}

#menu a:hover {
	background-color: #369;
	color: #FFF;
}

.txtField {
	width: 500px;
}

.txtArea {
	width: 500px;
	height: 300px;
}

.txtAreaShort {
	width: 500px;
	height: 100px;
}

.txtDropdown {
	width: 500px;
}

.errors {
	font-weight: bold;
	color: red;
	border: 1px solid #999;
	margin-top: 10px;
	padding: 10px;
	margin-bottom: 10px;
}

.message {
	font-weight: bold;
	border: 1px solid #999;
	margin-top: 10px;
	padding: 10px;
	margin-bottom: 10px;
}	

.previewEntry {
	border: 1px solid #999;
	margin-top: 10px;
	padding: 10px;
	margin-bottom: 10px;
}	

.adminListHeader {
	background-color: ##6699ff;
	font-weight: bold;
}

.adminListHeader a { 
	color: white;
}
.adminListTable{
	width:98%;
	}

.adminListTable, .adminListTable td {
	border-style: solid;
	border-width: 1px;
}

.adminList0 {
	background-color: white;
}

.adminList1 {
	background-color: ##ffff99;
}