/*
	project: watchthis!
	author: luka cvrk (www.solucija.com)
*/

/* global reset */
* { margin:0; padding:0; }
*
:focus,:active { outline:0; }
body { font:.8em Georgia, "Times New Roman", Sans-Serif; background:#fff url(../images/bg.gif) repeat-x; color:#333; }
a { color:#A82A15; text-decoration:none; }
a:hover { background:#333; color:#fff; }
img { border:0; vertical-align:middle; }
h1 { float:left; margin:20px 0 50px; font-size:4em; color:#fff; }
h2 { font-size:2.4em; font-weight:normal; margin:0 0 20px; color:#A82A15; }
h2 a:hover { background:#A82A15; color:#fff; }
.hr { color:#ccc; }
p { margin:5px 0 15px; line-height:1.6em; }
#content { margin:0 auto; width:900px; }
#content h1 { margin:3px 0px 10px 0px; }
#top { float:right; margin:38px 0 30px; font-size:16px; }
#top li { list-style:none; display:inline; }
#top li a { float:left; padding:6px 20px; margin:3px 2px 0 0; color:#ccc; }
#top li a.current { color:#fff; background:#A82A15; }
#top li a:hover { background:#808080; color:#fff; }
#top li img { margin-top:-3px; }
#intro { clear:both; padding:15px 0 1px 20px; border:1px solid #dedede; font-size:1.3em; background:#eee; margin:0 0 30px; }
#left { float:left; width:600px; margin:0 0 15px; }
#left li { margin:0 0 5px 30px; }
#right { float:right; width:280px; }
#right h3 { border-bottom:1px solid #ccc; margin:0 0 10px; }
#right img { margin:0 3px 3px 0; border:2px solid #eee; padding:2px; }
#right li { list-style:none; }
.choosen { font-weight:bold; background-color:#eaeaea; }
#right li a { display:block; border-bottom:1px solid #ccc; padding:5px; }
#footer { clear:both; padding:15px 0; border-top:1px solid #ccc; }
#r { float:right; }
label { font-weight:bold; }
.forgeBox-entrybox { margin:10px; border:1px solid #CCC; background:#FFFFFF url(../images/headerbg.gif) repeat-x bottom left; padding:10px; -moz-border-radius:10px; -webkit-border-radius:10px; -khtml-border-radius:10px; }
.forgebox-rating { float:right; margin-right:5px; }
#forgebox-entrysidebar { width:180px; float:right; }
#forgebox-entrycontent { width:515px; }
.forgebox-infobox { padding:3px; background-color:#fff; }
.hidden { display:none; }
.forgebox-download { float:right; clear:right; }
#simplemodal-container a.modalCloseImg { background:url(../images/x.png) no-repeat; 
/* adjust url as required */
width:25px; height:29px; display:inline; z-index:3200; position:absolute; top:-15px; right:-18px; cursor:pointer; }
#simplemodal-overlay { background-color:#000; }
#simplemodal-container { background-color:#fff; border:8px solid #444; padding:12px; }
#installDiv { display:none; }
#loader { display:none; text-align:center; margin-top:30px; font-weight:bold; }
#installLog { padding:20px; }