body { 
	background-color: #FFFFFF;
	margin: 10px;
	font-family: "ubuntu", Helvetica, arial, sans-serif;
}
body.withNavbar{ margin-top: 70px;}
a{ color: #006699; text-decoration: none; }
hr { color: #c0c0c0; border: 1px dotted #c0c0c0 }
pre{ margin-top: 10px; margin-bottom: 10px;}
kbd{ padding: 5px 7px; }
kbd a{ color: white; }
.label-annotations{	font-size: 13px; }