body { 
	background-color: #FFFFFF;
	margin: 10px;
	font-family: "ubuntu", Helvetica, arial, sans-serif;
}
body.withNavbar{ margin-top: 70px;}
a{ color: #006699; text-decoration: none; }

/* Headings */
h1 { font-size: 145% }
hr { color: #c0c0c0; border: 1px dotted #c0c0c0 }

pre{ margin-top: 10px; margin-bottom: 10px;}
kbd{ padding: 5px 7px; }
kbd a{ color: white; }

/* table colors */
.tableheadingcolor     { background: #dee8f1 } /* dark mauve */
.tablesubheadingcolor  { background: #dee8f1 } /* light mauve */
.tablerowcolor         { background: #ffffff } /* white */

th{ font-size: 14px; !important; padding: 5px}
th font{ font-size: inherit; }

/* font used in left-hand frame lists */
.frametitlefont   { font-size: 100%; }
.frameheadingfont { font-size:  90%;}
.frameitemfont    { font-size:  90%;}

/* navigation bar fonts and colors */
.navbarcell1    { background-color:#e2e2e2;} /* light mauve */
.navbarcell1rev { background-color:#666666;} /* dark blue */
.navbarfont1    { color:#000000;}
.navbarfont1rev { color:#ffffff;}

.navbarcell2    { background-color:#ffffff;}
.navbarcell3    { background-color:#ffffff;}

