.cbox_messagebox{
	font-size: 14px;
	font-weight: bold;
}
.cbox_messagebox_info{
	background: #D1E6EF url(images/messagebox_info.png) no-repeat scroll .5em 50%;
	border: 1px solid #2580B2;
	margin: 0.3em;
	padding: 0pt 1em 0pt 3.5em;
}
.cbox_messagebox_warning{
	background: #FFF2CF url(images/messagebox_warning.png) no-repeat scroll .5em 50%;
	border: 1px solid #2580B2;
	margin: 0.3em;
	padding: 0pt 1em 0pt 3.5em;
}
.cbox_messagebox_error{
	background: #FFFFE0 url(images/messagebox_error.png) no-repeat scroll .5em 50%;
	border: 1px solid #2580B2;
	margin: 0.3em;
	padding: 0pt 1em 0pt 3.5em;
}
.Titles {
	font:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #006699;
	padding: 5px 5px 5px 5px;
	height: 30px;
	text-align:center;
}
body{
font:Arial, Helvetica, sans-serif;
font-size: 12px;
}
a {
	font:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0066CC;
}
a:hover {
	color: #FF6600;
}